In [1]:
import re
import pandas as pd

In [2]:
content_filename = 'data_file.xlsx'
tag_filename = 'tags.xlsx'
content_col = 'content'

In [3]:
df_content = pd.read_excel(content_filename)
print(df_content.shape)
df_content.head(3)

(4, 3)

   ID   content                date
0   1    cancer 2018-06-08 13:42:00
1   2  oncology 2018-10-16 12:37:00
2   3     chemo 2018-08-28 16:50:00

In [4]:
df_tags = pd.read_excel(tag_filename)
print(df_tags.shape)
df_tags.head(3)

(2, 2)

         tag               query
0     cancer  cancer OR oncology
1  treatment      chemo OR radio

In [5]:
def create_regex(query):
    query_regex = query.replace(' OR ', '|')
    return query_regex

In [6]:
df_tags['regex'] = df_tags['query'].apply(create_regex)
print(df_tags.shape)
df_tags.head(3)

(2, 3)

         tag               query            regex
0     cancer  cancer OR oncology  cancer|oncology
1  treatment      chemo OR radio      chemo|radio

In [7]:
for row in df_tags.itertuples():
    df_content[row.tag] = df_content[content_col].str.contains(row.regex, regex=True, case=False)

In [8]:
description, extension = content_filename.split('.')
output_filename = '{}_tagged.{}'.format(description,extension)

In [10]:
writer = pd.ExcelWriter(output_filename, options={'strings_to_urls': False})
df_content.to_excel(writer, index=False)
print(df_content.shape, output_filename)
df_content.head(4)

(4, 5) data_file_tagged.xlsx

   ID   content                date  cancer  treatment
0   1    cancer 2018-06-08 13:42:00    True      False
1   2  oncology 2018-10-16 12:37:00    True      False
2   3     chemo 2018-08-28 16:50:00   False       True
3   4       hey 2018-05-10 11:10:00   False      False